@charset "utf-8";
 
/* BLUEGRID RESET CSS ver 1.0 | License: none (public domain) */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0;  border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body { line-height:1; }
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block;}
ul,ol,li { list-style:none;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;}
ins { background-color:#ff9; color:#000; text-decoration:none;}
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del { text-decoration: line-through;}
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help;}
table { border-collapse:collapse; border-spacing:0;}
hr { display:none;}
input, select, img { vertical-align:middle;}
img { border:0 none; margin:0;}
mark, em { font-style:normal;}
textarea { resize:none; margin:0; padding:0;}
button { position:relative; background:none; border:0 none; cursor:pointer; padding:0; margin:0; vertical-align:middle;}
button * { margin:0; padding:0;}
 
/* Web Content Accessibility TTS(Text To Speech) Code */
.tts{position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}
caption, legend {visibility:hidden;width:0;height:0;line-height:0;font-size:0;overflow:hidden;}
.hidden {position:absolute;visibility:hidden;left:-9999px;top:-9999px;overflow:hidden;}
.dpNone{visibility:hidden;width:0;height:0;font-size:0;line-height:0;overflow:hidden;}