@charset "utf-8";
@import "reset.css";
@import "jquery-ui.css";

*{margin:0; padding:0; font:normal small , Dotum, AppleGothic, Sans-serit;}

html, body {height:100%}
html, body {height:100%; margin:0; padding:0;}
body{FONT-FAMILY: 돋움, Verdana, San-serif;  color:#666666; font-size:12px; }

div,p{margin:0; padding:0;}
img{ vertical-align:middle;border: 0px;}
a,img,input{selector-dummy: expression(this.hideFocus=true);}
li{ list-style:none;}
body {
scrollbar-face-color: #ffffff;
scrollbar-shadow-color: #bababa;
scrollbar-highlight-color: #ffffff;
scrollbar-3dlight-color: #bababa;
scrollbar-darkshadow-color: #ffffff;
scrollbar-track-color: #F3F3F3;
scrollbar-arrow-color: #bababa;
}
A:active,A:link,A:visited {
	COLOR: #666666;
	
}


#wrap{ width:100%;}
header{ width:100%; position:relative; min-width:1550px;}
section{ position:relative;width:1550px;  }
article{ }
footer{ width:100%; text-align:center; padding-top:3px; padding-bottom:3px;  font-size:11px; color:#f5f5f5; clear:both; background-color:#666  }

.top_cont{ position:absolute; top:17px; right:10px;}
.top_area{ width:100%;   height:50px; text-align:center; background:url("../images/header_bg.gif") repeat-x left top;} 
.logo{position:absolute;top:12px; left:20px;}
#nav_area{ background-color:#ffffff; position:absolute; top:75  }

#body_area{margin-left:0px; margin-top:15px; min-width:1300px;margin-bottom:15px;}

.left_top{ width:177px;  padding:20px 8px 0px 15px; height:210px; background-color:#dddddd; color:#292929 ;font-family:'Nanum Gothic', "나눔고딕", dotum, serif;}
.left_title{ border-bottom:solid 1px #c8c8c8; padding-bottom:8px;  font-weight:bold;font-size:14px;}



.list ul{ margin:5px 0 0 10px;}
.list ul li{ padding-top:10px;}
.list ul li span{ color:#F00; font-weight:bold}

.search_input{ border:solid 1px #999999; height:25px; margin-right:-5px; padding-left:10px; margin-left:8px; margin-top:1px;}

.left_nav{padding:10px;}

/* snb */
.snb{width:200px;}

.container-fluid {
  width:100%;
  *zoom: 1;
}

.row-menu {
  width: 215px;
  float:left;
}

.row-content {
  padding-left:230px;
  padding-right:10px;
  padding-top:10px;
  *zoom: 1;
  float:left;
  display:block;
  width:80%;
}

.body50{ float:left; width:950px; }
.chart_area{ border:solid 1px #e6dec0; width:630px; height:400px; background-color:#fffdf6;border-radius:10px;box-shadow: 0px 0px 3px #9a9a9a; padding:10px;}
.lack_area{border:solid 3px #a9a9a9; background-color:#ffffff;border-radius:10px; padding:10px;}
.lack_area2{border:solid 3px #a9a9a9; background-color:#ffffff;border-radius:10px; padding:10px; min-width:1030px; text-align:center;}
.lack_con{background-color:#dedede;border-radius:20px;padding:6px 0 6px 20px;; width:410px; display:inline-block;}
.navi{ background:url(../images/div01.gif) repeat-x; height:17px;}
.navi_txt{ position:absolute; right:0px; background-color:#FFF; margin-top:-3px; }

.navi_dt2{float:right; ; margin-bottom:10px; margin-top:10px; background-color:#FFF;}
.search_box{background-color:#F1F1F1; border:solid 1px #E1E1E1; position: relative; margin-left:20px; min-width:1050px;}
.search_boxin{background-color:#ffffff; margin:4px; padding:15px; }

.body_title{ float:left; font-size:14px; font-weight:bold; color:#333333; margin-bottom:10px; margin-top:10px;font-family:'Nanum Gothic', "나눔고딕", dotum, serif; }
.sub_title{ font-size:12px; font-weight:bold; color:#666666; margin-bottom:10px; margin-top:10px; padding-top:5px; padding-bottom:3px; font-family:'Nanum Gothic', "나눔고딕", dotum, serif; }
.location_txt{ font-size:12px; font-weight:bold; color:#e41937; margin-bottom:10px; }

#.postion_R{ position:relative}
.padT10{padding-top:10px;}
.padT5{padding-top:5px;}
.pad10{padding:10px;}
.magT15{margin-top:15px;}
.padB10{ padding-bottom:10px;}
.magT10{margin-top:10px;}
.magT12{margin-top:12px;}
.magB5{margin-bottom:5px;}
.magT5{margin-top:5px;}
.magT20{margin-top:20px;}
.magT30{margin-top:30px;}
.magL10{margin-left:10px;}
.magL20{margin-left:20px;}
.clear_B{ clear:both;}
.fl_l{ float:left;}
.fl_R{ float:right}





.dataTable01{ width: 100%;border-top:solid 1px #c9c9c9;border-left:solid 1px #cccccc;  }
 .dataTable01 caption {display:none;}
.dataTable01 th{font-size:12px; font-weight:bold; color:#666666 ; padding-left:5px;  height:40px; vertical-align:middle; background-color:#f8f8f8;border-right:solid 1px #cccccc; border-bottom:solid 1px #cccccc;}
.dataTable01 td{font-size:12px; font-weight:normal; color:#666666 ; height:35px; vertical-align:middle; background-color:#ffffff;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding:2px 10px;}

.dataTable01 tr.lease01 td{font-size:12px; font-weight:normal; color:#666666 ; vertical-align:middle; text-align:center; background-color:#ffffff;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding-left:10px; padding-right:10px;}
.dataTable01 tr.lease02 td{font-size:12px; font-weight:bold; color:#666666 ; vertical-align:middle; text-align:center; background-color:yellow;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding-left:10px; padding-right:10px;}


.dataTable01 td.tlbtop01{font-size:12px; font-weight:bold; color:#666666 ; padding-left:10px; padding-right:10px; height:30px; vertical-align:middle; text-align:center; background-color:#f8f8f8;border-right:solid 1px #cccccc; border-bottom:solid 1px #cccccc;}
.dataTable01 td.tlbtop02{font-size:12px; font-weight:bold; color:#666666 ; padding-left:5px;  vertical-align:middle; text-align:center; background-color:#f8f8f8;border-right:solid 1px #cccccc; border-bottom:solid 1px #cccccc;}
.dataTable01 td.tlb01{font-size:12px; font-weight:normal; color:#666666 ; height:30px; vertical-align:middle; background-color:#ffffff;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding-left:10px; padding-right:10px;}
.dataTable01 td.tlb02{font-size:12px; font-weight:normal; color:#666666 ; vertical-align:middle; background-color:#ffffff;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding-left:10px; padding-right:10px;}
.dataTable01 td.tlb03{font-size:12px; font-weight:normal; color:#666666 ; vertical-align:middle; text-align:center; background-color:#ffffff;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding-left:10px; padding-right:10px;}

.dataTable02{ 
border-top:solid 1px #c9c9c9;border-left:solid 1px #cccccc;  }
 .dataTable02 caption {display:none;}
.dataTable02 th{font-size:12px; font-weight:bold; color:#666666 ; padding-left:5px;  height:40px; vertical-align:middle; background-color:#f8f8f8;border-right:solid 1px #cccccc; border-bottom:solid 1px #cccccc;}
.dataTable02 td{font-size:12px; font-weight:normal; color:#666666 ; height:40px; vertical-align:middle; background-color:#ffffff;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding-left:10px; padding-right:10px;}

.dataTable02 td.tlbtop01{font-size:12px; font-weight:bold; color:#666666 ; padding-left:10px; padding-right:10px; height:40px; vertical-align:middle; text-align:center; background-color:#f8f8f8;border-right:solid 1px #cccccc; border-bottom:solid 1px #cccccc;}
.dataTable02 td.tlbtop02{font-size:12px; font-weight:bold; color:#666666 ; padding-left:5px;  vertical-align:middle; text-align:center; background-color:#f8f8f8;border-right:solid 1px #cccccc; border-bottom:solid 1px #cccccc;}
.dataTable02 td.tlb01{font-size:12px; font-weight:normal; color:#666666 ; height:40px; vertical-align:middle; background-color:#ffffff;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding-left:10px; padding-right:10px;}
.dataTable02 td.tlb02{font-size:12px; font-weight:normal; color:#666666 ; vertical-align:middle; background-color:#ffffff;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding-left:10px; padding-right:10px;}
.dataTable02 td.tlb03{font-size:12px; font-weight:normal; color:#666666 ; vertical-align:middle; text-align:center; background-color:#ffffff;border-bottom:solid 1px #cccccc;border-right:solid 1px #cccccc; padding-left:10px; padding-right:10px;}

.nol_Table{ 
width: 1000px;  }
 .nol_Table caption {display:none;}
.nol_Table th{font-size:12px; font-weight:bold; color:#666666 ;padding-top:10px; padding-left:5px; padding-bottom:5px; background-color:#f8f8f8;border-right:solid 1px #cccccc; }
.nol_Table td{font-size:12px; font-weight:normal; color:#666666 ;padding-top:10px; padding-bottom:5px;background-color:#ffffff;padding-left:10px; padding-right:10px;}

.star{ font-weight:bold; color:#FF3300}
.txtA_l{ text-align:left}
.txtA_C{ text-align:center}



.disabled{
filter: alpha(opacity=50);
}


.b{ font-weight:bold;}

/* Paginate */
.paginate{ padding:0px 0; text-align:center;}
.paginate *{ margin:0; padding:0;}
.paginate a,
.paginate strong{ _position:relative; display:inline-block; margin-right:-6px; padding:3px 10px 2px 11px; color:#333; text-decoration:none !important; line-height:normal; font:bold 11px Tahoma, Serif; background:#fff url(http://static.naver.com/common/paginate/line_pg4.gif) no-repeat 0 5px;}
.paginate strong{ color:#ff1315 !important;}
.paginate a:hover,
.paginate a:active,
.paginate a:focus{ background-color:#f7f7f7;}
.paginate a.pre,
.paginate a.pre_end,
.paginate a.next,
.paginate a.next_end{ font:11px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;}
.paginate a.pre{ padding:4px 10px 2px 17px; background:url(http://static.naver.com/common/paginate/bu_pg4_l1.gif) no-repeat right 4px !important;}
.paginate a.pre_end{ padding:4px 10px 2px 16px; background:url(http://static.naver.com/common/paginate/bu_pg4_l2.gif) no-repeat right 4px !important;}
.paginate a.next{ padding:4px 18px 2px 11px; background:url(http://static.naver.com/common/paginate/bu_pg4_r1.gif) no-repeat left 4px !important;}
.paginate a.next_end { padding:4px 16px 2px 9px; background:url(http://static.naver.com/common/paginate/bu_pg4_r2.gif) no-repeat left 4px !important;}


.input {
BORDER: #DCDCDC 1px solid;  
PADDING: 4px 0 0 5px ; 
FONT-SIZE: 12px;
color:#666666 ;
HEIGHT: 20px;
}

.input01 {
BORDER: #DCDCDC 1px solid;  
PADDING: 4px 0 0 5px ; 
FONT-SIZE: 12px;
color:#666666 ;
HEIGHT: 17px;
text-align:center;
}

.input02 {
BORDER: #DCDCDC 1px solid;
border-radius: 4px;
PADDING: 4px 0 0 5px ; 
FONT-SIZE: 12px;
color:#666666 ;
HEIGHT: 26px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select {
BORDER: #cccccc 1px solid;  
PADDING: 0px 0 0 5px ; 
FONT-SIZE: 12px;
}

select01 {
 border:2px solid #bfbfbf; padding:0 1px 0 0; 
}

.input_d {
BORDER: #DDDDDD 1px solid;  
PADDING: 4px 0 0 5px ; 
FONT-SIZE: 12px; background-color:#DDDDDD
}


/*버튼*/

.btn {
	display: inline-block;
	padding: 2px 5px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
}

.bt_red{ background-color:#ED1C24; text-align:center;  color:#FFFFFF; text-decoration:none; margin-left:5px; margin-top:10px; padding: 7px 15px; font-family:'Nanum Gothic', "나눔고딕", dotum, serif; }
.bt_red>a:link{   color:#FFFFFF; font-weight:bold; text-decoration:none }
.bt_red>a:visited{  color:#FFFFFF; font-weight:bold; text-decoration:none }
.bt_red>a:active{ color:#FFFFFF; font-weight:bold; text-decoration:none }

.bt_gray{ background-color:#969696; text-align:center;  color:#FFFFFF; text-decoration:none; margin-left:5px; margin-top:10px;padding: 7px 15px; font-family:'Nanum Gothic', "나눔고딕", dotum, serif; }
.bt_gray>a:link{   color:#FFFFFF; font-weight:bold; text-decoration:none }
.bt_gray>a:visited{  color:#FFFFFF; font-weight:bold; text-decoration:none }
.bt_gray>a:active{ color:#FFFFFF; font-weight:bold; text-decoration:none }

.searchA_bt{ position:absolute; right:30px; bottom:30px;}

.btn_s {
	display: inline-block;
	padding: 2px 5px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 300;
	line-height: 0.47857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
}

.bt_red{ background-color:#ED1C24; text-align:center;  color:#FFFFFF; text-decoration:none; margin-left:5px; margin-top:10px; padding: 7px 15px; font-family:'Nanum Gothic', "나눔고딕", dotum, serif; }


#nav {
	LIST-STYLE-TYPE: none;     height:40px; width:100%; background-color:#464646;
}
#nav UL {
	LIST-STYLE-TYPE: none; 
}
#nav {
	MARGIN: 0px 0px 0px 0px; 
}
#nav LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #464646; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 250px; PADDING-TOP: 0px;POSITION: relative;font-family:'Nanum Gothic', "나눔고딕", dotum, serif; font-size:14px; font-weight:bold;height:40px; 
}



#nav LI.first01 { margin-left:0px; }

#nav A {
	PADDING-RIGHT: 100px; DISPLAY: block; PADDING-LEFT: 100px;  CURSOR: pointer; COLOR: #fff; PADDING-TOP: 13px; PADDING-bottom: 13px; TEXT-DECORATION: none;
}
#nav A:link {
	PADDING-RIGHT: 100px; DISPLAY: block; PADDING-LEFT: 100px; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 13px;PADDING-bottom: 13px; TEXT-DECORATION: none
}
#nav A:visited {
	PADDING-RIGHT: 100px; DISPLAY: block; PADDING-LEFT: 100px;  CURSOR: pointer; COLOR: #fff; PADDING-TOP: 13px;PADDING-bottom: 13px; TEXT-DECORATION: none
}
#nav A:hover {
	PADDING-RIGHT: 100px; DISPLAY: block; PADDING-LEFT: 100px;  CURSOR: pointer; COLOR: #fff; PADDING-TOP: 13px; PADDING-bottom: 13px;TEXT-DECORATION: none;
}
#nav A:active {
	PADDING-RIGHT: 100px; DISPLAY: block; PADDING-LEFT: 100px;  CURSOR: pointer; COLOR: #fff; PADDING-TOP: 13px; PADDING-bottom: 13px;TEXT-DECORATION: none
}
#nav A:hover {
	COLOR: #ffffff
}
#nav LI UL {
	 LEFT: -999em;  WIDTH: 250px; POSITION: absolute; background-color:#f1f1f1;
}
#nav LI:hover UL {
	Z-INDEX: 99999; LEFT: 0px
}
#nav LI.sfhover UL {
	Z-INDEX: 99999; LEFT: 0px
}
#nav LI LI {
	BORDER-RIGHT: #c5c5c5 1px;  PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; BORDER-LEFT: #c5c5c5 1px solid; BORDER-right: #c5c5c5 1px solid
}
#nav LI LI.last {
	BORDER-BOTTOM-STYLE: none;BORDER-BOTTOM: #c5c5c5 1px solid;
}
#nav LI LI A {
	padding: 13px 0 13px 15px;   COLOR: #000; 
}
#nav LI LI A:link {
	padding: 13px 0 13px 15px;  COLOR: #000; 
}
#nav LI LI A:visited {
	padding: 13px 0 13px 15px;   COLOR: #000; 
}
#nav LI LI A:hover {
	padding: 13px 0 13px 15px;   COLOR: #000; 
}
#nav LI LI A:hover {
	BACKGROUND: #ffffff; padding: 13px 0 13px 15px; 
}
#nav LI.active {
	BACKGROUND: #ed1c24; 
}

#nav LI.active UL {	 PADDING-LEFT: 0px; FLOAT: none; BORDER-LEFT: #c5c5c5 1px solid; BORDER-right: #c5c5c5 1px solid; background-color:#f1f1f1;
}
#nav LI.active A:link {
	
}
#nav LI.active A:visited {
	
}
#nav LI.active A:hover {
	
}
#nav LI.active A:active {
	
}
#nav LI.active A:hover {
	COLOR: #000
}
#nav LI.active LI {
	BORDER-TOP-STYLE: none;; BORDER-BOTTOM-STYLE: none;; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
#nav LI.active LI.last {
	BORDER-bottom: #c5c5c5 1px solid; 
}
#nav LI.active LI A:link {
	COLOR: #000
}
#nav LI.active LI A:visited {
	COLOR: #000
}
#nav LI.active LI A:hover {
	COLOR: #000
}
#nav LI.active LI A:active {
	COLOR: #000
}
#nav LI.active LI A:hover {
	
}
#nav LI.active LI.active A:link {
	
}
#nav LI.active LI.active A:visited {
	
}
#nav LI.active LI.active A:hover {
	
}
#nav LI.active LI.active A:active { background-color:#FFF;
 
}
#nav LI {
	WIDTH: auto
}

#kk {padding: 2px; text-align:left; padding-left:20px;} 
#kk span.red {background: url('../images/rs.png') left center no-repeat; line-height: 20px; padding-left: 20px; padding-top:2px}
#kk span.green {background: url('../images/gs.png') left center no-repeat; line-height: 20px; padding-left: 20px;padding-top:2px}
#kk span.yellow {background: url('../images/ys.png') left center no-repeat; line-height: 20px; padding-left: 20px;padding-top:2px}
#kk span.wtf {background: url('../images/us.png') left center no-repeat; line-height: 20px; padding-left: 20px;padding-top:2px}
#kk span.white {background: url('../images/wh.png') left center no-repeat; line-height: 20px; padding-left: 20px;padding-top:2px}
#kk span.sky {background: url('../images/sk.png') left center no-repeat; line-height: 20px; padding-left: 20px;padding-top:2px}
#kk span.puple {background: url('../images/pu.png') left center no-repeat; line-height: 20px; padding-left: 20px;padding-top:2px}
#kk span.black {background: url('../images/bl.png') left center no-repeat; line-height: 20px; padding-left: 20px;padding-top:2px}
#kk span.brown {background: url('../images/br.png') left center no-repeat; line-height: 20px; padding-left: 20px;padding-top:2px}
#kk span.orange {background: url('../images/og.png') left center no-repeat; line-height: 20px; padding-left: 20px;padding-top:2px}

#tooltip, #cdutooltip { min-height: 300px; min-width: 550px; }

.liOpen * { margin:auto;padding:0;text-decoration:underline;font-size:12px;color:#333;line-height:160%;font-family:"돋움",Dotum; }

/* paging */
.outbox { width: 100%; margin:0 0 0 0}
.paging { padding-top:20px; text-align:center; min-width:505px; margin:0 auto; text-decoration: none}
.paging a,.paging span:not(.num){ width:28px; height:28px; line-height:31px; display:inline-block; text-align:center; }
.paging .num { margin: 0 0 0 0 }
.paging .num a,.paging span:not(.num) { border:1px solid #c1c1c1; border-radius:1px; -webkit-border-radius:1px; *border-radius:1px; background-color:#fff; text-decoration: none !important }
.paging .num a:hover { border:1px solid #e91a22; color:#e91a22; }
.paging .num a.on { border:1px solid #e91a22; color:#fff; background-color:#e91a22; }
.paging .num a.on:hover { border:1px solid #e91a22; color:#fff; background-color:#e91a22; }
.paging span:not(.num) a { text-indent:-9999px; font:0; }
.paging span.first a{ background:#f1f1f1 url('../images/arr_lm.png') no-repeat center; }
.paging span.prev a{ background:#f1f1f1 url('../images/arr_l.png') no-repeat center;}
.paging span.next a{ background:#f1f1f1 url('../images/arr_r.png') no-repeat center;}
.paging span.last a{ background:#f1f1f1 url('../images/arr_rm.png') no-repeat center;}
