@CHARSET "EUC-KR";

body * {font-size:7px;}
#selectable .ui-selecting { background: #e6e6e6; }  
#selectable .ui-selected { background: #fff;}  
#selectable { list-style-type: none; margin: 0; padding: 0;}  
#selectable li {margin: 0; padding: 0; float: left; width: 22px; height: 22px; font-size: 1em; text-align: center; background:white; opacity: 0.4; z-index:0}